@import "../../shared/styles/variables.scss";

#landing-page-component {
  // flex-wrap: wrap;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;

  #showcase-images--container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 100%;
    position: relative;
    // margin-bottom: $margin__1;
    max-height: 600px;
    min-height: 600px;
    overflow: hidden;
    // border: 1px solid red;

    #showcase-images {
      width: 100%;
      // height: 100%;
    }

    #landing-page--title {
      margin-bottom: $margin__1;
      position: absolute;
      color: white;
      top: 0;
      z-index: 5;
      margin-top: 1.5rem;
      // text-shadow: .5rem 1rem 2px #000c;
      text-shadow: 0 0 .5rem #000f;
    }
    
    .showcase-image {
      width: 100%;
      // margin-top: -10%;
      // max-width: 800px;
    }
  }

  #contact-banner {
    display: flex;
    justify-content: center;
    width: 100%;
    padding-top: $padding__large;
    padding-bottom: $padding__large;
    // height: 100%;
    box-shadow: inset 0 0 1rem #000a;
    // background: #333;

    &--default {
      @extend #contact-banner;
      box-shadow: none;
      background: #fff;
    }

    &--alt {
      @extend #contact-banner;
      background: #333;
    }
  }

  #contact-banner-content {
    padding-left: $padding__1;
    padding-right: $padding__1;
  }

  // #services-container {
    #services {
    // border: 1px solid red;
    display: flex;
    flex-direction: row;
    width: 100%;
    // height: 500px;
    // height: auto;
    justify-content: center;
  }

  #services-title {
    padding-top: $padding__1;
    text-align: center;
  }

  #services-table {
    width: 100%;
    height: 100%;
    // border: 1px solid yellow;
    padding: $padding__1;
  }

  #service-notes-container {
    margin-bottom: $padding__large;
    padding: $padding__1;
  }

  .service-note {
    margin-top: $margin__tiny;
    font-size: .8rem;
    list-style: none;
  }

  // #contact {
  //   text-align: center;
  // }
  
  .contact-container {
    width: 100%;
    display: flex;
    padding: $padding__1;
    margin-bottom: $margin__xlarge;
    // border: 1px solid red;

    #contact-elements {
      display: flex;
      margin: 0 auto;
    }
  
    .contact-element {
      display: flex;
      flex-direction: column;
      flex: 33%;
      // border: 1px solid black;
      justify-content: center;
      text-align: center;
      // align-items: center;
  
      * {
        margin-top: $margin__small;
      }
    }
  
    #email-link {
      color: inherit;
      text-decoration: none;
      cursor: pointer;
    }
  }

  .social-media--link img {
    width: 3rem;
  }

  @media only screen and (max-width: 900px) {
    #showcase-images--container {
      max-height: 400px;
      min-height: 400px;
      // border: 1px solid yellow;
    }
  }

  @media only screen and (max-width: 600px) {
    #showcase-images--container {
      max-height: 200px;
      min-height: 200px;
      // border: 1px solid green;

      // #landing-page--title {
      //   text-shadow: 0 0 .5rem #000f;
      // }
    }

    #table-labels {
      display: none !important;
      // background: green;
    }

    #contact {
      padding-top: $padding__tiny;
      padding-bottom: $padding__tiny;
    }

    #contact-elements {
      flex-direction: column;

      .contact-element {
        margin-top: $margin__small;
        margin-bottom: $margin__small;
      }
    }
  }
}