$max-width: 1200px;

// Padding
$padding__tiny: .25rem;
$padding__small: .5rem;
$padding__1: 1rem;
$padding__medium: 1.5rem;
$padding__large: 2rem;
$padding__xlarge: 3rem;

// Margin
$margin__tiny: .25rem;
$margin__small: .5rem;
$margin__1: 1rem;
$margin__medium: 1.5rem;
$margin__large: 2rem;
$margin__xlarge: 3rem;

// Color
$text--color__default: black;
$text--color__alt: white;

$background--color__default: white;
$background--color__alt: black;