@import "../../styles/variables.scss";

.table--row {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

// .service--name, .service--type, .service--price, .service--details {
//   flex: 25%;
// }

.service--property {
  margin-top: $margin__1;
}

.service--name {
  width: 30%;
}

.service--type {
  width: 15%;
}

.service--price {
  width: 15%;
}

.service--details {
  width: 40%;

  li {
    margin-top: $padding__tiny;
  }
}