@import "../../styles/variables.scss";

.table--row {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  overflow: hidden;
  margin-top: $margin__1;
}

// .service--name, .service--type, .service--price, .service--details {
//   flex: 25%;
// }

.service--property {
  margin-top: $margin__1;
  // padding: $padding__1;
  margin-left: $margin__1;
  margin-bottom: $margin__1;
  z-index: 1;
}

.service--name {
  width: 30%;
  font-size: x-large;
  font-weight: bold;
}

.service--type {
  width: 15%;
}

.service--price {
  width: 15%;
  font-size: x-large;
}

.service--details {
  width: 40%;

  li {
    margin-top: $padding__tiny;
    list-style: none;
  }
}

.service--image-container {
  position: absolute;
  // display: none;
  // visibility: hidden;
  width: 100%;
  height: 100%;
  z-index: 0;

  display: flex;
  // justify-content: center;
  align-items: center;
  // flex: 100%;
  filter: blur(4px);
  // margin-bottom: $margin__1;
  // max-height: 600px;
  // min-height: 600px;
  // overflow: hidden;

  .service--image {
    width: 100%;
    opacity: 0;
    // opacity: .2;
  }
}

@media only screen and (max-width: 600px) {
  .table--row {
    flex-wrap: wrap;
    border: 1px solid #3333;
    border-radius: .5rem;
    // margin-top: $margin__1;
    box-shadow: 0 0 .5rem #3332;
    // padding: $padding__1;
    // border: 1px solid #fff4;
  }

  .service--image-container {
    display: show;
  }

  .service--property {
    width: 100%;
    // text-align: center;
  }

  // .service--name {
  //   font-size: x-large;
  //   font-weight: bold;
  // }

  // .service--price {
  //   font-size: x-large;
  // }

  .service--details {
    text-align: left;
  }

  .hide--small {
    display: none;
  }

  .service--image-container {
    .service--image {
      opacity: .2;
    }
  }
}